<!-- <div class="component">
  <h2>{{$ctrl.text}}</h2>
</div> -->


<div class="nav-container clearfix">

  <ul class="menu-links clearfix">
    <li ng-class="getClass('/main')"><a ng-click="closeNav()" class="" target="_self" href="/main">Home</a></li>
    <li ng-class="getClass('/brand')"><a ng-click="closeNav()" class="" href="/brand">Brand</a></li>
    <li ng-class="getClass('/collection002')"><a ng-click="closeNav()" class="" href="/collection002">Collection</a><a ng-click="closeNav()" class="mini-nav-lnk first-mini" href="/collection002">002</a> <a target="_self" ng-click="closeNav()" class="mini-nav-lnk" href="/collection001">001</a></li>
    <li ng-click="showMenu = !showMenu" ng-class="getClass('/objets')"><a target="_self" class="" href="/objets">Objets Trouv&#233;s</a></li>
  </ul>


  <div class="nav-info">
    <p>
      <span class="sales">Sales &amp; General Inqueries:</span>
       <a href="mailto:info@rudiment.nyc">info@rudiment.nyc</a>
    </p>
    <p>
      401 Broadway, Suite #906<br>
      New York, NY 10013
    </p>

    <hr class="nav-hr" />

    Sign-up to receive information regarding collection previews, events and sales.

    <div style="width: 280px; width: 199px; height: 30px; border: 1px dashed #ccc; margin-top: 10px;">form</div>
  </div>

  <div class="nav-social">
    <div class="social-links">
      <a href="#" target="_blank" class="soc-lnk email">Email</a> 
      <a href="#" target="_blank" class="soc-lnk insta">Instagram</a> 
      <a href="#" target="_blank" class="soc-lnk facebook">Facebook</a> 
      <a href="#" target="_blank" class="soc-lnk twitter">Twitter</a> 
    </div>
    <span>&copy; 2018 RUDIMENT&trade; / All Rights Reserved</span>
  </div>



</div>