<div class="component">
  <h2>{{$ctrl.text}}</h2>
</div>


<div class="nav-container clearfix">

  <ul class="menu-links clearfix">
    <li  ng-class="getClass('/main')">
      <a ng-click="isdiplay = !isdiplay" target="_self" href="/main">Home</a>
    </li>
    <li  ng-class="getClass('/brand')">
      <a ng-click="isdiplay = !isdiplay" target="_self" href="/brand">Brand</a>
    </li>
    <li  ng-class="getClass('/collection002')">
      <a ng-click="isdiplay = !isdiplay" target="_self" class="" href="/collection002-story">Collection</a>
      <a ng-click="isdiplay = !isdiplay" target="_self" class="mini-nav-lnk first-mini" href="/collection002-story">002</a> 
      <a ng-click="isdiplay = !isdiplay" target="_self" class="mini-nav-lnk" href="/collection001">001</a>
    </li>
    <li  ng-click="isdiplay = !isdiplay" ng-class="getClass('/objets')">
      <a ng-click="isdiplay = !isdiplay" target="_self" class="" href="/objets">Objets Trouv&#233;s</a>
    </li>
  </ul>


  <div class="nav-info clearfix">
    <p>
      <span class="sales">Sales &amp; General Inqueries:</span>
       <a href="mailto:info@rudiment.nyc">info@rudiment.nyc</a>
    </p>
    <p>
      401 Broadway, Suite #906<br>
      New York, NY 10013
    </p>
    <hr class="nav-hr" />

        Sign-up to receive information regarding collection previews, events and sales.
        
        <div class="mail-chimp">
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

            #mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 90%;
    margin: 0;
    clear: both;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0;
}


#mc_embed_signup .button {
    clear: both;
    background-color: black;
    border: 0 none;
    border-radius: 0;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    /* font-size: 12px !important; */
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#mc_embed_signup .button {
    clear: both;
    background-color: black;
    border: 0 none;
    border-radius: 0;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    /* font-size: 12px !important; */
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    position: absolute;
    width: auto;
    right: 0px;
    top: 10px;
}

#mc_embed_signup input {
    border: 1px solid #DADADA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    width: calc(100% - 60px);
    padding: 8px 0;
    text-indent: 2%;
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0;
    font-weight: bold;
    float: left;
    top: 0px;
    z-index: 1;
    width: 80%;
}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="https://nyc.us15.list-manage.com/subscribe/post?u=7f620e27034d4666c3c764764&amp;id=10d9ebe41a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <!-- <h2>Subscribe to our mailing list</h2> -->
          <div class="mc-field-group">
           <!--  <label for="mce-EMAIL">Email Address </label> -->
            <input type="email" placeholder="Email Address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f620e27034d4666c3c764764_10d9ebe41a"  tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

          <!-- <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
          <!--End mc_embed_signup-->
        </div>
         
  </div>

  <div class="nav-social">
    <div class="social-links">
      <a href="mailto:info@rudiment.nyc"  class="soc-lnk email">Email</a> 
      <a href="https://www.instagram.com/rudimentofficial/" target="_blank" class="soc-lnk insta">Instagram</a> 
      <a href="https://www.facebook.com/rudimentnyc/" target="_blank" class="soc-lnk facebook">Facebook</a> 
     
    </div>
    <span>&copy; 2018 RUDIMENT&trade; / All Rights Reserved</span>
  </div>

</div>


<!-- ng-click="closeNav()" -->