<!-- <div class="component">
  <h2>{{$ctrl.text}}</h2>
</div> -->


<div class="nav-container clearfix">

  <ul class="menu-links clearfix">
    <li ng-class="getClass('/main')"><a ng-click="closeNav()" class="" href="/main">Home</a></li>
    <li ng-class="getClass('/brand')"><a ng-click="closeNav()" class="" href="/brand">Brand</a></li>
    <li ng-class="getClass('/collection002')">
      <a ng-click="closeNav()" class="" href="/collection002">Collection</a>
      <a ng-click="closeNav()" class="mini-nav-lnk first-mini" href="/collection002">002</a> <span class="pipe">|</span>
      <a ng-click="closeNav()" class="mini-nav-lnk" href="/collection001">001</a>
    </li>

    <li ng-click="showMenu = !showMenu" ng-class="getClass('/objets')"><a  class="" href="/objets">Objets Trouv&#233;s</a></li>
  </ul>


  <div class="nav-info">
    <p>
      Sales &amp; General Inqueries:
      info@rudiment.nyc
    </p>
    <p>
      401 Broadway, Suite #906<br>
      New York, NY 10013
    </p>

    <div style="width: 280px; height: 100px; border: 1px dashed #ccc;"></div>
    
  </div>



</div>