<div class="animate-slide" id="slidePanel"  ng-show="slide" 
     >
<!-- ng-hide="someMethod()" -->
<!--   <ul class="hburger-menu clearfix">
    <li><a href="/chicago" ng-click="slide=!slide; someMethod()">Chicago</a></li>
    <li><a href="/aspen" ng-click="slide=!slide; someMethod()">Aspen</a></li>
    <li><a href="/san-francisco" ng-click="slide=!slide; someMethod()">San Francisco</a></li>
    <li><a href="#" ng-click="slide=!slide; someMethod()">San Diego</a></li>
    <li><a href="#" ng-click="slide=!slide; someMethod()">Charleston</a></li>
    <li><a href="#" ng-click="slide=!slide; someMethod()">Southampton</a></li>
  </ul> -->

</div>

<a href="#" class="hburger" ng-click="slide=!slide; someMethod()">
  <div id="nav-icon4" class="">
    <span></span>
    <span></span>
    <span></span>
  </div>
</a>

<div class="header">
  <a class="header__link" href="/">
    <div class="header__logo"></div>
  </a>
</div>

