<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>RUDIMENT ™</title>
    <meta name="description" content="Discover the latest RUDIMENT womenswear collection and Objet Trouvé capsule collection.">
    <meta name="keywords" content="RUDIMENT, womenswear, menswear, objet trouvé, collection, capsule collection, fashion, made in new york">
    <meta name="author" content="RUDIMENT">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<!-- space for icon -->
<!--     <link rel="icon" type="image/png" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/favicon-160.png"/>
    <link rel="icon" type="image/x-icon" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/favicon.png"/>
    <link rel="icon" sizes="192x192" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-192.png"/>
    <link rel="icon" sizes="128x128" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-128.png"/>
    <link rel="apple-touch-icon" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-57.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-76.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-120.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="https://dmb3ount55sfc.cloudfront.net/webapp/static-0-144-0/img/favicon/app-favicon-180.png"/> -->

    <!--

      _____  _    _ _____ _____ __  __ ______ _   _ _______ 
     |  __ \| |  | |  __ \_   _|  \/  |  ____| \ | |__   __|
     | |__) | |  | | |  | || | | \  / | |__  |  \| |  | |   
     |  _  /| |  | | |  | || | | |\/| |  __| | . ` |  | |   
     | | \ \| |__| | |__| || |_| |  | | |____| |\  |  | |   
     |_|  \_\\____/|_____/_____|_|  |_|______|_| \_|  |_|  

    -->
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

   <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

    <script src="https://tgomilar.github.io/paroller.js/dist/jquery.paroller.js" type="text/javascript"></script>




    <!-- slick -->
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" rel="stylesheet" />

    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" rel="stylesheet" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

    <script type="text/javascript">
     $(document).on('ready', function() {
        
        // $(".single-item").slick({
        //   dots: false,
        //   infinite: true,
        //   speed: 500,
      
        //   cssEase: 'linear',
        //   slidesToScroll: 1,
        //   autoplay: true,
        //   autoplaySpeed: 2000,
        // });
        // console.log( "ready!" );



        // $('.my-paroller').paroller();

        // $("#my-element").paroller({ factor: '0.5', type: 'foreground', direction: 'vertical' });
        // $("#my-element2").paroller({ factor: '0.5', type: 'foreground', direction: 'vertical' });


    });
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82058263-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-82058263-1');
    </script>

    


  </head>
  <body ng-app="app">
    <!-- <grass-header></grass-header> -->
    
    
    <ui-view></ui-view>



    <!-- <div class="nav">
      <nav class="primary-nav" ng-class="{true: 'showMenu'}[showMenu]">
        <desk-nav></desk-nav>
      </nav> 
    </div> -->

    



    <!-- <a href="" class="nav-burger notxt" ng-click="showsearch()">Menu</a> -->

    <a href="" class="nav-burger notxt" ng-click="isdiplay = !isdiplay">Menu</a>

    <div class="logo notxt">RUDIMENT</div>
    <div class="tfixed1 fade-in three">Collection 002</div>
    <div class="tfixed2 fade-in three">The Conflict of  Tension</div>
    <div class="tfixed3 "></div>

    <div class="searchclass" ng-class="{'active':isdiplay}">
        <desk-nav></desk-nav>
    </div>

    <script type="application/ld+json">
         { "@context": "http://schema.org",
         "@type": "Organization",
         "name": "RUDIMENT",
         "legalName" : "RUDIMENT",
         "url": "https://rudiment.nyc",
         "logo": "https://rudiment.nyc/logo.png",
         "foundingDate": "2014",
         "founders": [
         {
         "@type": "Person",
         "name": "Ji Cartman"
         },
         {
         "@type": "Person",
         "name": "Joseph Cartman"
         } ],
         "address": {
         "@type": "PostalAddress",
         "streetAddress": "401 Broadway, Suite #906",
         "addressLocality": "New York",
         "addressRegion": "NY",
         "postalCode": "10013",
         "addressCountry": "USA"
         },
         "contactPoint": {
         "@type": "ContactPoint",
         "contactType": "customer support",
         "url": "https://rudiment.nyc",
         "email": "info@rudiment.nyc"
         },
         "sameAs": [ 
         "https://www.facebook.com/rudimentnyc",
         "https://www.instagram.com/rudimentofficial"
         ]}
    </script>
    
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "name": "RUDIMENT",
          "image": "https://rudiment.nyc/logo.png",
          "description": "Discover the latest RUDIMENT menswear / womenswear collection and objet trouvé capsule collection.",
          "@id": "",
          "url": "https://rudiment.nyc",
          "telephone": "",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "401 Broadway, Suite #906",
            "addressLocality": "New York",
            "addressRegion": "NY",
            "postalCode": "10013",
            "addressCountry": "US"
          },
          "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "09:00",
            "closes": "17:00"
          },
          "sameAs": [
           "https://www.facebook.com/rudimentnyc",
           "https://www.instagram.com/rudimentofficial"
          ]
        }
    </script>    

  </body>
</html>
