@font-face 
  font-family 'FontAwesome'
  src url('/fonts/fontawesome-webfont.eot?v=4.7.0')
  src url('/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg')
  font-weight normal
  font-style normal

html,
body,
.main-container 
  overflow-x hidden

.main-container 
  // padding-bottom 10px

*
  -webkit-font-smoothing antialiased !important
  outline none !important

input
  &:invalid
    box-shadow none
    
.nowrap 
  white-space nowrap



@media only screen and (min-width:580px) and (max-width:799px) 
  .h-r1
    font-size 56px

@media only screen and (min-width:800px) 
  .h-r1
    font-size 64px



.active 
  // color red !important

.hero
  height 400px
  position relative
  // border 1px dashed #eee
  .map-test 
    position absolute
    // background transparent url('/static/fpo-map.jpg') 0 0 no-repeat 
    width 2177px
    height 400px
    left 50%
    margin-left -1088px
  .marker-test
    position absolute
    width 40px
    height 40px
    left 50%
    margin-left -20px
    top 190px
    background red 
    border-radius 50%
    display block
    &:hover 
      opacity .5

/* ==========================  */

/* DESKTOP NAV                 */

/* ==========================  */


.desk-menu
  display none

@media only screen and (min-width:800px)

  .desk-menu
    // border 1px dotted blue
    display block
    margin-bottom 20px
    position relative
    li 
      width 16.6666%
      float left 
      // height 80px
      border-bottom 4px solid rgba(168, 172, 177, .3)
      position relative
      a 
        display block 
        text-align center
        white-space nowrap
        text-decoration none
        color #777A81
        padding 30px 5px
        -webkit-transition all 250ms linear
        -moz-transition all 250ms linear
        transition all 250ms linear
        transition-property #ffffff,#FF3347
      a:hover 
        color #FF3347 
      a.active
        // color blue !important
    li::after
      position absolute 
      width 1px 
      height 50px 
      right 0px 
      top 14px
      background rgba(168, 172, 177, .3)
      content ""
    li:last-of-type::after
      display none
    li.active 
      border-bottom 4px solid #ff3347
      -webkit-transition all 250ms linear
      -moz-transition all 250ms linear
      transition all 250ms linear
      transition-property 1,#FF3347
      a
        color #ff3347






/* ==========================  */

/* HEADER                      */

/* ==========================  */


.header
  width 100%
  background-color #fff
  // outline 1px dashed green !important
  text-align center
  position relative
  z-index 4
  box-shadow 0 0 7px rgba(51, 51, 51, 0.41)

.header__link
  display inline-block
  border none
  width 100%
  height 100%

.header__logo
  position absolute
  height 22px
  width 16px
  top 50%
  left 50%
  margin-left -8px 
  margin-top -11px
  // transform translateX(-50%) translateY(-50%)
  // background url('/static/calc-top-logo.png') no-repeat center center
  // background-size contain
  // background red
  // outline 1px dashed black !important
  image-rendering -moz-crisp-edges         
  image-rendering   -o-crisp-edges        
  image-rendering -webkit-optimize-contrast
  image-rendering crisp-edges
  -ms-interpolation-mode nearest-neighbor 
  
.hburger
  display none

@media only screen and (min-width:0px) and (max-width:579px)
  .header
    height 40px
    position fixed 
    
  .header__logo
    width 16px
    height 22px
    background-position center center
    background-size 16px 22px
    margin-top -11px 
    margin-left -8px
    




@media only screen and (min-width:0px) and (max-width:799px)

  .header
    height 40px
    position fixed 

  // FPO padding top
  .main-container 
    padding-top 40px
    
  .hburger
    position fixed 
    z-index 1000 !important
    width 30px
    height 30px 
    display block
    // border 1px dotted red
    top 5px
    left 5px
    
  .hburger-menu 
    padding-top 40px
    li 
      a 
        padding-left 50px
        display block

  #slide
    position fixed
    width 100%
    height 100px
    top 0px
    background red
    height 0px

   

  .animate-slide 
    background white
    position fixed
    z-index 50
    width  100%
    height 100%
    top  0px
    -webkit-transform  translate3d(0,0,0)
    transform  translate3d(0,0,0,)
    -webkit-backface-visibility  hidden
    backface-visibility  hidden
    -webkit-perspective  1000
    perspective  1000


  .animate-slide.ng-hide-add,
  .animate-slide.ng-hide-remove 
    display block !important


  .animate-slide.ng-hide-remove.ng-hide-remove-active 
    -webkit-animation 0.3s slide-down
    animation 0.3s slide-down


  .animate-slide.ng-hide-add.ng-hide-add-active 
    -webkit-animation 0.3s 
    animation 0.3s slide-up


  .animate-slide.ng-hide 
    top -100%
    display block !important


  /* Chrome, Safari, Opera */
  @-webkit-keyframes slide-down
  {
    0%     {top:-100;}
    100%   {top:0%;}
  }

  /* Standard syntax */
  @keyframes slide-down
  {
    0%     {top:-100%;}
    100%   {top:0%;}
  }


  /* Chrome, Safari, Opera */
  @-webkit-keyframes slide-up
  {
    0%   {top:0%;}
    100%  {top:-100%;}
  }

  @keyframes slide-up
  {
    0%   {top: 0%;}
    100%  {top: -100%;}
  }






@media only screen and (min-width:580px) and (max-width:799px)
  .header
    height 40px
  .header__logo
    width 16px
    height 22px
    background-position center center
    background-size 16px 22px
    margin-top -11px 
    margin-left -8px

@media only screen and (min-width:800px)
  .header
    height 60px
  .header__logo
    width 122px
    height 36px    
    margin-top -18px 
    margin-left -61px
    // background url('/static/desk-top-logo.png') no-repeat center center
    background-size 122px 36px
    
  .animate-slide 
    display none !important





/* ==========================  */

/* HERO                        */

/* ==========================  */

.hero 
  background-color black
  position relative
  background no-repeat center center
  background-size cover

.home-hero
  // 

.map-hero 
  // 


/* MOBILE */
@media only screen and (min-width:0px) and (max-width:579px) 
  .hero 
    height 220px
    background-position center center
    
  .home-hero
    // background-image url(/static/home-header-fpo.jpg)


/* TABLET */
@media only screen and (min-width:580px) and (max-width:799px) 
  .hero 
    height 500px
    background-position center center
    
  .home-hero
    // background-image url(/static/home-header-fpo.jpg)

/* DESKTOP */
@media only screen and (min-width:800px) 
  .hero 
    height 500px
    background-position center center
    
  .home-hero
    // background-image url(/static/home-header-fpo.jpg)


















// fpo
.map-hero
  height 420px
  position relative
  // border 1px dashed #eee
  .map-test 
    position absolute
    background transparent url('/static/map-fpo.png') 0 0 no-repeat 
    width 1440px
    height 420px
    left 50%
    margin-left -700px
    background-size 1400px 420px
  .marker-pin
    position absolute
    width 23px
    height 32px
    left 50%
    margin-left -12px
    top 190px
    background transparent url('/static/map-pin.png') 0 0 no-repeat 
    background-size contain
    display block
    &:hover 
      opacity .8













.content-example
  text-align center 
  padding 100px 20px 100px


.form-tester
  outline 1px dashed #ccc !important
  max-width 400px 
  margin 40px auto
  padding 20px


/* ==========================  */

/* CONTENT                     */

/* ==========================  */

.main__cont 
  margin 25px 20px
  text-align center
  .main__head
    margin-bottom 10px 
  .date__head
    margin-bottom 15px
  .main__txt
    p
      margin-bottom 1em

  .social-lnk
    font-family brandon-grotesque, san-serif
    font-weight bold
    font-size 14px
    letter-spacing 1px


/* DESKTOP */
@media only screen and (min-width:800px) 

  .main__cont 
    margin 80px auto
    max-width 540px
    .main__head
      margin-bottom 30px



/* ==========================  */

/* HOME HERO 2                 */

/* ==========================  */

.home-hero2
  background-color black
  position relative
  background no-repeat center center
  background-size cover


/* MOBILE */
@media only screen and (min-width:0px) and (max-width:579px) 
  .home-hero2
    height 220px
    background-position center center
    background-image url(/static/home-hero2.jpg)


/* TABLET */
@media only screen and (min-width:580px) and (max-width:799px) 
  .home-hero2 
    height 500px
    background-position center center
    background-image url(/static/home-hero2.jpg)
    
/* DESKTOP */
@media only screen and (min-width:800px) 
  .home-hero2
    height 700px
    background-position center center
    background-image url(/static/home-hero2.jpg)

        







/* ==========================  */

/* FOOTER                      */

/* ==========================  */




.footer-look
  padding 40px 20px  
  .btn 
    margin-top 30px


.footer
  color #fff
  text-align center
  height auto
  position relative
  a
    color #fff

.footer__copy
  width 100%
  padding 36px 23px
  font-size 12px !important
  line-height 16px !important

.footer__logo
  height 47px
  width 160px
  background-image url(/static/footer-logo.png )
  background-size 100% auto
  background-repeat no-repeat
  padding 10px
  background-position center center
  display block
  margin 0 auto 21px


@media only screen and (min-width:1400px)
  footer 
    width 100%
    position absolute
    bottom 0px





















#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: 4px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 24px;
  left: 4px;
}















.clearfix:after 
  visibility  hidden
  display  block
  font-size  0
  content  " "
  clear  both
  height  0




/*****************************/
/* MOBILE */
@media only screen and (min-width:0px) and (max-width:579px) {
}
/* TABLET */
@media only screen and (min-width:580px) and (max-width:799px) {
}
/* DESKTOP */
@media only screen and (min-width:800px) {
}

